body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("./images/room.jpg");
  flex-direction: column;
  gap: 20px;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: grey;
  background: linear-gradient(135deg, #680202, #000000);
}

.scores {
  display: flex;
  color: #fff;
  font-size: 64px;
  gap: 100px;
}

.left,
.right {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-box {
  background-color: rgb(224, 200, 150);
  border: dotted red;
  height: 80px;
  max-width: 100%;
  font-weight: 700;
  font-size: 23px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.continue-button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: grey;
  background: linear-gradient(135deg, #680202, #000000);
}
