body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("./images/room.jpg");
  flex-direction: column;
  gap: 100px;
}
button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: grey;
  background: linear-gradient(135deg, #680202, #000000);
}
.scores {
  display: flex;
  color: #fff;
  font-size: 64px;
  gap: 200px;
}
.left,
.right {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.text-box {
  background-color: floralwhite;
  border: dotted red;
  height: 40px;
  width: 40vh;
  font-weight: 700;
}
.continue-button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: grey;
  background: linear-gradient(135deg, #680202, #000000);
}
