body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("/images/room.jpg");
}
button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: grey;
  background: linear-gradient(135deg, #680202, #000000);
}
